
.header-sistema {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2c3e50;
    border-radius: 8px;
    border-bottom: 20px;
    color: white;
}

.nav-menu {
    display: flex;
    gap: 15px;
}

.btn-nav {
    text-decoration: none;
    color: #ecf0f1;
    padding: 10px 15px;
    border: 1px solid #34495e;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-nav:hover {
    background-color: #3498db;
    border-color: #3498db;
}

.btn-voltar {
    display: inline-block;
    margin-top: 10px;
    color: #7f8c8d;
    text-decoration: none;
}